/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(57, 167, 255);
  --first-alpha-color: rgb(56, 118, 191);
  --second-color: rgb(58, 87, 130);
  --second-alpha-color: rgba(54, 66, 110, 0.75);
  --third-color: rgb(80, 20, 100);
  --third-alpha-color: rgba(80, 20, 100, 0.75);

  --link-color: rgb(80, 158, 227);
  --link-alpha-color: rgba(80, 158, 227, 0.75);

  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgba(245, 245, 245, 0.75);
}

/* ********* Reset Styles ********** */
body {
    font-family: 'Rubik Dirt', cursive;
}
a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}
/* ********** Bootstrap Styles ********** */



.navbar-brand img{
    width: auto;
    height: 3.5rem;
}


.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(174, 222, 252)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}


.nav-item{
    transition: all .3s ease-out;
}

.nav-item:hover {
    background-color: var(--first-alpha-color);
}
.nav-link{
    margin-left: 0.5rem;
    color:  var(--first-color);
    font-size: 1.25rem;
    font-weight: bold;
}


.nav-link:hover{
    color:  var(--bs-white);
}
.bg-gradient-blue {
  background: linear-gradient(135deg, rgba(47, 145, 224, 0.91), rgba(7, 31, 51, 0.97) 79%);
}




#hero {
  position: relative; /* Necesario para posicionar la superposición */
  background-image: url('../img/banner.jpg'); /* Cambia esta ruta por la de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  padding: 20px; /* Añade un poco de padding para mejorar el espaciado */
  z-index: 1;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(58, 57, 57, 0.5); /* Color negro con 50% de opacidad */
  z-index: -1; /* Coloca la superposición detrás del contenido */
}

.hero-title, .hero-subtitle, .hero-description {
  position: relative;
  margin: 0;
  padding: 0.5rem 0;
  z-index: 2; /* Asegura que el texto esté por encima de la superposición */
}

.about-me{
  background-color: var(--second-color);
  border-radius: 10px;
}



.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.technologies {
  margin-top: 20px;
}

.technologies h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Espacio entre los iconos */
}

.tech-icon {
  width: 40px; /* Ajusta el tamaño del icono */
  height: 40px; /* Asegura que todos los iconos tengan el mismo tamaño */
}

.about-img {
  border-radius: 10px; /* Bordes redondeados para la imagen */
  max-width: 100%; /* Asegura que la imagen no se desborde */
}


/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -3.5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}
.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}


.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  /* font-family: 'Quicksand', sans-serif; */
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}


@media (max-width: 768px) {
  .about-title {
    font-size: 1.75rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .technologies h3 {
    font-size: 1.25rem;
  }

  .tech-icons i {
    font-size: 1.75rem;
  }
}



@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }

  .hero-subtitle {
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
  }
}




@media (max-width: 768px) {
  .about-title {
    font-size: 1.75rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .technologies h3 {
    font-size: 1.25rem;
  }

  .tech-icons i {
    font-size: 1.75rem;
  }
}















/* // X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}